<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<h3> Update user</h3>

<form action="#" th:action="@{/update/{username}}" th:object="${student}" method="post">
    <label for="firstName"> firstName</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <label for="lastName"> lastName</label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <label for="username"> username</label>
    <input type="text" th:field="*{username}" id="username" th:readonly="${student.username}">
    <input type="submit" value="Update student"/>
</form>
</body>
</html>